<div class="card my-4 gold-div">
  <div class="row no-gutters ml-4">
    <div class="col-md-4 light-gold-div">
      <% editing_video_url = "https://player.vimeo.com/external/297888097.sd.mp4?s=03dd8f3554e65f220699d2cdf55a3b1020d66b28&amp;profile_id=165&amp;oauth2_token_id=57447761" %>
      <% pexels_video = Pexels::Client.new.videos.search(script.topic, page: 1, per_page: 1, size: :medium, orientation: :landscape) %>
      <% if pexels_video.first.files.third.link.nil? %>
        <%= video_tag editing_video_url, size: "320x240", controls: false, autoplay: :autoplay, muted: :muted, loop: :loop, class: "rounded-video" %>
        <div class="rounded-video"></div>
      <% else %>
        <% video_url = pexels_video.first.files.third.link %>
        <%= video_tag video_url, size: "320x240", controls: false, autoplay: :autoplay, muted: :muted, loop: :loop, class: "rounded-video" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body py-3">
        <h4 class="card-text"><strong><%= script.blueprint.name %></strong>  -  "<i><%= script.topic %></i>"</h4>
        <br>
        <h2 class="card-title"><strong><%= script.name %></strong></h2>
        <br>
        <div class ="d-flex justify-content-between pt-2">
          <p class="card-text text-muted"><%= script.updated_at.strftime("%Y-%m-%d") %></p>
          <%= link_to "View full script", script_path(script), class: "btn btn-readscript" %>
        </div>
      </div>
    </div>
  </div>
</div>
