<div class="container script-show justify-content-left ">
  <div class="row">
    <div class="col-9">
      <div class="bg-black rounded-md p-3 shadow-md">
        <form data-controller="clipboard">
          <div class="script-body">
            <h2><label for="Script" class="form-label">Draft Script</label></h2>
            <p data-clipboard-target="source"><%= raw @script.script_body.gsub("\n", '<br>') %></p>
          </div>
          <div class="button-submit">
            <button type="submit" class="btn btn-primary">Download</button>
            <button type="submit" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-primary" data-action="clipboard#copy" data-clipboard-target="trigger"><i class="fa-regular fa-copy"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-3">
      <div class="card-options" style="width: 20rem;">
        <div class="container-options p-3">
          <h2>Options</h2>
          <%= simple_form_for [@script], url: script_path(@script) do |f| %>
            <%= f.input :duration do %>
              <%= f.select :duration, [ [3, "1"], [5, "2"], [8, "3"], [10, "4"], [12, "5"], [15, "6"] ] %>
              <%= f.label :duration, "(in minutes)" %>
            <% end %>
            <%= f.input :tone do %>
              <%= f.select :tone, [ ["Cheerful", "1"], ["Educational", "2"], ["Emotional", "3"], ["Humorous", "4"], ["Inspirational", "5"], ["Neutral", "6"], ["Playful", "7"] ] %>
            <% end %>
            <%= f.submit 'regenerate', :class => 'spinner', :id => 'submit-button' %>
            <%# add more tones %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% @script.pexels_videos.each do |vid| %>
    <%= video_tag vid, :size => "320x240", :controls => false, autoplay: :autoplay, loop: :loop %>
  <% end %>
</div>
