<!-- app/views/locations/show.html.erb -->
<div class="background-script py-3">
  <div class="container col-12">
    <div class="storylab-container-gold d-flex">
      <div class="col-4 storylab-container-cream">
        <h2>Here's some FREE</h2>
        <p>Stock videos for your project</p>
        <p>(Click to download)</p>
        <div class="col">
          <% @pexels_videos.each do |vid| %>
            <div class="d-flex justify-content-center mb-3">
              <div class="light-gold-div">
                <% hd_video = vid.files.find { |file| file.quality == 'sd' } %>
                <% video_url = hd_video.link %>
                <%= link_to video_url, target: :_blank do %>
                  <%= video_tag video_url, size: "320x240", controls: false, autoplay: :autoplay, muted: :muted, loop: :loop, class: "rounded-video" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <span class="footer__logo__text__opaque">— Beautiful free videos from Pexels.</span>
      </div>
      <div class="col-8 storylab-container-dark v-flex align-items-center justify-content-center">
        <div class="storylab-container-cream">
          <lead><%= @location.script.name unless @location.script.name.nil? %></lead>
          <h1>Recommended locations</h1>
          <p>to shoot your video.</p>
          <%= raw @location.content.gsub("\n", "<br>") %>
        </div>
        <div class="mt-4 storylab-container-cream">
          <h1>Work plan</h1>
          <p>Follow these instructions to make your project easier.</p>
          <%= raw @plan.content.gsub("\n", "<br>") %>
        </div>
      </div>
    </div>
  </div>
</div>
